body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 10;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    background-color: #3399cc;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

main {
    padding: 20px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
}